* {
    padding: 0;
    margin: 0;
}

.w {
    width: 1080px;
    margin: 0 auto;
}

html {
    font-size: 14px;
    color: #333;
    letter-spacing: 1px;
}

*::selection {
    background-color: limegreen;
    color: #fff;
}

*::-moz-selection {
    background-color: limegreen;
    color: #fff;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    border: 0;
}

body,
button,
input,
select,
textarea {
    color: #333;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", STHeiti, sans-serif !important;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
}

input:not([type=radio]) {
    -webkit-appearance: none !important;
    outline: none;
}

button,
a {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::before,
.clearfix::after {
    display: block;
    content: "";
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

input {
    position: relative;
    display: inline-block;
    font-family: Monospaced Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 40px;
    line-height: 1.5;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input:focus {
    border-color: #40a9ff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}


/*input placeholder 的颜色控制*/

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #c9c9c9;
    font-weight: normal !important;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c9c9c9;
    font-weight: normal !important;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c9c9c9;
    font-weight: normal !important;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #c9c9c9;
    font-weight: normal !important;
}

.color_six {
    color: #666666 !important;
}

.color_nine {
    color: #999999 !important;
}

.none {
    display: none;
}

.red {
    color: #f02345 !important;
}