/*右侧上点击箭头*/

.icon-prev {
    background: url("../images/shrink.png") center no-repeat;
    background-color: #bdc0ca;
}


/*右侧下点击箭头*/

.icon-next {
    background: url("../images/unfold.png") center no-repeat;
    background-color: #bdc0ca;
}

.icon-line {
    background-position: 0 0;
}

.title h2.cn .s {
    background-position: -320px -280px;
}

.title h2.cn .y {
    background-position: -320px -310px;
}

.title .en .y {
    background-position: -325px -310px;
}

.room_detail_left {
    float: left;
    width: 805px;
    position: relative;
    z-index: 1;
}

.lof-slidecontent {
    border: 0 solid #f00;
    overflow: hidden;
    position: relative;
    text-align: center;
    height: 370px;
    width: 880px;
    color: #fff;
    display: none;
    margin-bottom: 20px;
}

.current_lof {
    display: block;
}

.lof-main-outer {
    height: 370px;
    overflow: hidden;
    position: relative;
    width: 880px;
}


/*左侧大图外层li*/

ul.lof-main-wapper {
    width: 650px;
    height: 370px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 5px;
}


/*左侧大图外层li*/

ul.lof-main-wapper li {
    position: relative;
    width: 650px;
    height: 370px;
    overflow: hidden;
}

.lof-slidecontent .woshi {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 99;
    width: 100%;
    display: none;
    color: #fff;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
}


/*左侧大图*/

ul.lof-main-wapper li img {
    margin: 0 auto;
    max-width: 650px;
    max-height: 370px;
    width: 100%;
    height: 100%;
}

.lof-navigator-wapper {
    background: #fff;
    top: 0px;
    height: 370px;
    position: absolute;
    right: 0;
    width: 165px;
}


/*右侧上下点击箭头*/

.lof-previous,
.lof-next {
    position: relative;
    height: 28px;
    width: 150px;
    cursor: pointer;
    overflow: hidden;
    line-height: 28px;
}

.lof-navigator-wapper .lof-next {
    margin-right: 6px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.lof-main-outer .lof-previous {
    width: 26px;
    height: 50px;
    left: 20px;
    top: 50%;
    margin-top: -25px;
    z-index: 99;
    /* background: url(../images/resource_detail/prev.png) no-repeat 0 0; */
    float: none;
    position: absolute;
    display: none;
}

.lof-main-outer .lof-previous:hover {
    /* background: url(../images/resource_detail/prev.png) no-repeat 0 -50px; */
}

.lof-main-outer .lof-next {
    width: 26px;
    height: 50px;
    left: auto;
    left: 583px;
    top: 50%;
    margin-top: -25px;
    z-index: 99;
    /* background: url(../images/resource_detail/next.png?2) no-repeat 0 0; */
    float: none;
    position: absolute;
    display: none;
}

.lof-main-outer .lof-next:hover {
    /* background: url(../images/resource_detail/next.png?2) no-repeat 0 -50px; */
}

.lof-main-outer:hover .lof-previous {
    display: none;
}

.lof-main-outer:hover .lof-next {
    display: none;
}

.lof-navigator-outer {
    color: #fff;
    height: 405px;
    overflow: hidden;
    position: relative;
    width: 690px;
    z-index: 3;
    margin-top: 10px;
}

ul.lof-navigator {
    height: 475px;
    padding: 0;
    position: absolute;
    top: 0px;
    left: 0;
    width: 158px;
}

ul.lof-navigator li {
    cursor: pointer;
    display: block;
    margin-left: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 158px;
    height: 88px;
}

ul.lof-navigator li.active .lidiv {
    position: relative;
    height: 90px;
    width: 150px;
}


/*右侧当前小图外边框*/

ul.lof-navigator li.active .lidiv .bor_act {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #f02345;
    height: 88px;
    width: 148px;
}

ul.lof-navigator li.active .lidiv img {
    height: 88px;
    width: 148px;
    opacity: 1;
    filter: alpha(opacity=100);
}

ul.lof-navigator li .lidiv img {
    height: 88px;
    width: 158px;
    opacity: .7;
    filter: alpha(opacity=70);
}

.partA {
    height: 560px;
    margin-bottom: 40px;
}

.partA .room_detail_right {
    height: 560px;
    position: relative;
    z-index: 1;
}