.logoBox {
    text-align: center;
    margin: 20px 0;
}

form {
    padding: 0 30px;
}

.infoBox {
    margin-bottom: 20px;
}

.name {
    display: block;
    float: left;
    width: 30%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.user_name {
    letter-spacing: 5px;
}

.infoInput {
    float: right;
    width: 65%;
}

.companyInfo {
    height: 40px;
    line-height: 1.5;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}